/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*/

*{font-family: "Poppins", sans-serif;}

body{
    background: #040B39;
    background: url(../images/blur-1.png) fixed center no-repeat;
    background-size: cover;
}

.master{
    overflow-x: hidden;
}

.master,
header,
section,
footer,
figure,
h1,h2,h3,h4,h5,h6{
    width: 100%;
    float: left;
    position: relative;
}

p, li{
    width: 100%;
    float: left;
    color: rgba(255,255,255,0.7);
    font-size: 14px;
    line-height: 150%;
}
ul{
    padding-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}


section{
    padding: 80px 0;
}

figure img{
    width: 100%;
}
.ratio{
    width: 100%;
    height: 0;
    position: relative;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-1{
    padding-top: 100% !important;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-135{
    padding-top: 135%;
}
.ratio img,
.ratio iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.section-title h3{
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.section-title h4{
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    font-family: "Poppins", sans-serif;
    position: relative;
}
.section-title h6{
    color: #fff;
}
.section-title.text-center h3,
.section-title.text-center h4{
    text-align: center !important;
}
.section-title h3::before,
.section-title h3::after{
    content: "";
    width: 45px;
    height: 22px;
    position: absolute;
    top: calc(50% - 6px);
}
.section-title h3::before{
    background: url(../images/section-title-before.png) no-repeat center;
    background-size: contain;
    left: -70px;
}
.section-title h3::after{
    background: url(../images/section-title-after.png) no-repeat center;
    background-size: contain;
    right: -70px;
}

.btn{
    min-width: 120px;
    padding: 15px 56px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.btn-primary{
    background: #fff;
    color: #000;
    border: none;
}
.btn-secondary{
    background: none;
    border: 2px solid #026B33;
    color: #026B33;
}

.ratio{
    width: 100%;
    float: left;
    position: relative;
    height: 0;
}
.ratio-1{
    padding-top: 100%;
}
.ratio-75{
    padding-top: 75%;
}
.ratio-16{
    padding-top: 56.25%;
}
.ratio-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 20px 0;
    height: 180px;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    background: rgba(0,0,0,0);
}
.main-menu{
    float: right;
    text-align: right;
    background: #110F10;
    margin-top: -20px;
    padding: 0 20px;
    border-radius: 0 0 24px 24px;
    -webkit-border-radius: 0 0 24px 24px;
    -moz-border-radius: 0 0 24px 24px;
    -ms-border-radius: 0 0 24px 24px;
    -o-border-radius: 0 0 24px 24px;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}
.main-menu a{
    display: inline-block;
    color: rgba(255,255,255,0.8);
    font-size: 15px;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    padding: 20px 15px;
}
.main-menu a:hover,
.main-menu a.active{
    text-decoration: none;
    color: #00A4D9;
}

.logo{
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header.sticky{
    height: 80px;
    background: #151654;
    padding: 10px 0;
}
.header.sticky .main-menu{
    margin-top: -10px;
}
.header.sticky .main-menu a{
    padding: 20px 15px;
}
.header.sticky .logo{
    height: 60px;
}


.award-slider .item{
    width: 100%;
    height: 200px;
    text-align: center;
}
.award-slider .item img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 30px;
}
.award-slider .item h3{
    font-size: 20px;
    color: rgba(255,255,255,0.8);
    font-weight: 600;
    margin-bottom: 20px;
}
.award-slider .item p{
    font-size: 14px;
    color: rgba(255,255,255,0.6);
}

.news-slider .item{
    padding: 0 10px;
}
.news-card{
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    background: #2A89BE;
}
.news-card .text{
    padding: 20px;
    width: 100%;
    float: left;
}
.news-card h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    height: 68px;
}
.news-card.product h3{
    height: auto;
    margin-bottom: 10px;
}
.news-card h3 a{
    color: #fff;
}
.news-card .meta-info{
    font-size: 12px;
    color: rgba(255,255,255,0.6);
}

.rundown{
    background: url(../images/marathon.png) no-repeat right;
}

.rundown-card{
    width: 100%;
    float: left;
    background: #151654;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    padding: 30px;
}
.rundown-card h4{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
.rundown-card p{
    font-size: 12px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 0;
}
.rundown-slider .item{
    position: relative;
    padding: 40px 10px 0;
}
.rundown-slider .item .time{
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    left: 30px;
    padding-left: 20px;
}
.rundown-slider .item .time::before{
    content: "";
    width: 10px;
    height: 65px;
    background: url(../images/rundown-point.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.sponsorship .section-title h3{
    font-weight: 300;
    font-size: 40px;
}
.sponsorship .section-title h3::before,
.sponsorship .section-title h3::after{
    display: none;
}
.sponsorship .section-title h4{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.sponsorship .section-title p{
    font-size: 16px;
    color: rgba(255,255,255,0.8);
}
.sponsor-slider .item{
    padding: 0 10px;
}
.sponsor-card{
    width: 100%;
    height: 100px;
    padding: 24px;
    background: rgba(39,37,125,0.3);
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.sponsor-card img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer{
    padding: 20px 0;
    background: #151654;
}
footer p{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
    padding-top: 8px;
}
.social{
    display: flex;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}
.social li{
    width: auto;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}
.social li:first-child{
    margin-right: 10px;
}
.social li a{
    display: inline-block;
    padding: 10px;
    color: #fff;
    background: rgba(255,255,255,0.1);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.for-mobile{
    display: none;
}

.hero{
    background: #404682;
    padding-top: 160px;
    padding-bottom: 0;
}
.hero::before,
.hero::after{
    content: "";
    width: 284px;
    height: 118px;
    position: absolute;
    bottom: 0;
    z-index: 3;
}
.hero::before{
    background: url(../images/corner-2.png) no-repeat center;
    background-size: contain;
    left: 0;
}
.hero::after{
    background: url(../images/corner-1.png) no-repeat center;
    background-size: contain;
    right: 0;
}
.hero figure{
    overflow: hidden;
    width: 100%;
    float: left;
    position: relative;
    border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
    height: 0;
    padding-top: 48%;
    margin-bottom: 0;
}
.hero figure img{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.fun-run{
    background: #212121;
    background-size: cover;
    padding-bottom: 0;
}
.fun-run .row{
    align-items: center;
}

.fun-run ul{
    margin-bottom: 40px;
}

.fun-run figure{
    margin-bottom: 0;
}

.rundown{
    background: #2A89BE;
}
.rundown figure{
    /* margin-top: -147px; */
    z-index: 3;
}
/*
.rundown figure::before,
.rundown figure::after{
    content: "";
    width: 345px;
    height: 144px;
    position: absolute;
    bottom: 50%;
    z-index: -1;
}
.rundown figure::before{
    right: 90%;
    background: url(../images/corner-1.png) no-repeat center;
    background-size: contain;
}
.rundown figure::after{
    left: 90%;
    background: url(../images/corner-2.png) no-repeat center;
    background-size: contain;
}
*/
.awards{
    background: url(../images/bg-purple.jpg) no-repeat center fixed;
    background-size: cover;
}
.pl-60{
    padding-left: 60px;
}
.mb-40{
    margin-bottom: 40px;
}
.awards p{
    line-height: 200%;
}
.awards-card h5{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 0 20px;
    margin-bottom: 20px;
}
.awards-card p{
    padding: 0 20px;
    line-height: 150%;
}
.nominees-slider .item{
    padding: 0 10px;
}

.floor-plan{
    background: #2A89BE;
}
.floor-plan figure{
    margin-bottom: 0;
    padding: 30px;
    background: #fff;
    position: relative;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

.product-slider{
    margin-bottom: 40px;
}
.product-slider .item{
    padding: 0 10px;
}
.product-card{
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.product-card figure{
    padding: 0;
}
.product-card h5{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.product-card p{
    font-size: 12px;
    margin-bottom: 0;
}
.product-card .text{
    background: #110F10;
    width: 100%;
    float: left;
    padding: 10px 20px;
}
.news{
    background: url(../images/news-bg.jpg) no-repeat fixed center;
    background-size: cover;
    padding-bottom: 40px;
}
.news-slider{
    z-index: 3;
}
.news .video{
    margin-bottom: 80px;
}
.news .video iframe{
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    z-index: 3;
}
.video::before,
.video::after{
    content: "";
    width: 400px;
    height: 167px;
    position: absolute;
    bottom: 50%;
}
.video::before{
    background: url(../images/corner-1.png) no-repeat center;
    background-size: contain;
    right: 90%;
}
.video::after{
    background: url(../images/corner-2.png) no-repeat center;
    background-size: contain;
    left: 90%;
}
.news::before{
    content: "";
    background: #33397E;
    width: 100%;
    height: 288px;
    position: absolute;
    top: 0;
    left: 0;
}
.news::after{
    content: "";
    width: 100%;
    height: 186px;
    background: #33397E url(../images/bg-news-bottom.png) no-repeat center top;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sponsorship{
    background: #33397E;
}

.gallery{
    background: #2A89BE;
    padding-bottom: 0;
    z-index: 5;
}
.gallery-item{
    width: calc(100% / 7);
    float: left;
}
.gallery-item figure{
    margin-bottom: 0;
}
.gallery-item img{
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}
.gallery-item img:hover{
    cursor: pointer;
    width: 110%;
    height: 110%;
    z-index: 2;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 99
}
.overlay.show{
    opacity: 1;
    pointer-events: auto;
}
.popup{
    position: absolute;
    width: 96%;
    max-width: 960px;
    max-height: 90vh;
    overflow-y: auto;
    padding: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}
.popup img{
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
}
.close-bt{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0,0,0,0.3);
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
}
.close-bt:hover{
    cursor: pointer;
    background: #f00;
}

.rundown-wrap{
    width: 100%;
    float: left;
    padding: 40px 0;
    background: #33397E;
    border-radius: 23px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    -ms-border-radius: 23px;
    -o-border-radius: 23px;
}
.rundown-wrap h4{
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.rundown-list{
    width: 100%;
    float: left;
    max-height: 300px;
    overflow-y: auto;
    list-style: none;
    padding: 0 40px;
}
.rundown-list li{
    padding: 20px 40px 20px 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.rundown-list li h5{
    font-size: 16px;
    margin-bottom: 0;
    padding-left: 20px;
}
.rundown-list li .time{
    padding: 3px 10px;
    background: #2A89BE;
    font-weight: 700;
    display: inline-block;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    white-space: nowrap;
}
/* width */
.rundown-list::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .rundown-list::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
  }
   
  /* Handle */
  .rundown-list::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .rundown-list::-webkit-scrollbar-thumb:hover {
    background: #2A89BE; 
  }

.book{
    background: #2A89BE;
}
.book-card{
    width: 100%;
    float: left;
    background: rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.book-card img{
    width: 200px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.book-card .text{
    padding-left: 20px;
}
.book-card .text .cat{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 5px;
}
.book-card .text h4 a{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.book-card .text .meta-info{
    font-size: 12px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 20px;
    display: block;
}
.book-card p{
    font-size: 14px;
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
}

.partisipan-list{
    width: 100%;
    float: left;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}
.partisipan-list li{
    width: calc((100% - 70px) / 7);
    margin-right: 10px;
    margin-bottom: 10px;
}
.partisipan-list li img{
    width: 100%;
}
.partisipan-row h3{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}

.komunitas-list{
    width: 100%;
    float: left;
    padding-left: 0;
    list-style: none;
}
.komunitas-list li{
    padding: 5px 15px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    background: rgba(0,0,0,0.3);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rundown-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}

@media only screen and (max-width:1024px){
    .for-mobile{
        display: block;
    }
    .for-desktop{
        display: none;
    }
    .master{
        overflow-x: hidden;
    }
    section,
    footer{
        padding-left: 10px;
        padding-right: 10px;
    }
    .mobile-menu-bt{
        width: 40px;
        height: 40px;
        float: right;
        background: #110F10;
        color: #fff;
        text-align: center;
        font-size: 18px;
        padding-top: 6px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        margin-top: 10px;
    }
    .main-menu{
        position: fixed;
        width: 60%;
        top: -200px;
        right: -60%;
        z-index: -1;
        padding-top: 120px;
        padding-bottom: 40px;
        background: #110F10;
        transition: all ease-out 0.3s;
        -webkit-transition: all ease-out 0.3s;
        -moz-transition: all ease-out 0.3s;
        -ms-transition: all ease-out 0.3s;
        -o-transition: all ease-out 0.3s;
        border-radius: 0 0 0 24px;
        -webkit-border-radius: 0 0 0 24px;
        -moz-border-radius: 0 0 0 24px;
        -ms-border-radius: 0 0 0 24px;
        -o-border-radius: 0 0 0 24px;
    }
    .main-menu.show{
        right: 0;
        top: 0;
    }
    .main-menu li{
        width: 100%;
        float: left;
    }
    .main-menu li a{
        padding: 20px 20px;
        font-size: 14px;
    }

    .hero{
        padding-top: 110px;
    }
    .hero::before, .hero::after {
        width: 130px;
        height: 55px;
    }
    .hero::before{
        left: -21px;
    }
    .hero::after{
        right: -21px;
    }
    .hero figure{
        padding-top: 100%;
    }
    .col-md-5.pl-60{
        padding-left: 10px;
    }
    .floor-plan .floor-img{
        margin-bottom: 20px;
    }
    .news::before{
        height: 180px;
    }

    p.copy{
        margin-bottom: 40px;
    }
    .social.justify-content-end{
        justify-content: start !important;
        padding-left: 0;
    }
    .social li:first-child{
        margin-left: 0;
    }
    .fun-run figure{
        margin-bottom: 30px;
    }
    .rundown-wrap{
        margin: 10px 0;
    }
    .partisipan-list li{
        width: calc((100% - 30px) / 3);
    }
    .book-card{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .book-card .pic,
    .book-card .pic img{
        width: 100%;
    }
    .book-card .text{
        padding-left: 0;
        margin-top: 20px;
    }
    .main-menu a{
        display: block;
    }
}
